:root {
  --head: aqua;
  --dark: #58001d;
  --mid: #980b15;
  --light: #f10011;
  --accent: #7869ee;
  --page-margin: 0 2rem;
  --border: 2px solid var(--accent);
}

html {
  background-color: var(--dark);
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  color: rgb(243, 241, 241);
}

header {
  background-color: var(--dark);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: auto;
}

header > nav > ul {
  list-style-type: none;
  display: inline-flex;
}

header > nav > ul > li::after {
  content: "/";
  margin-left: 1;
  margin-right: 1;
  color: var(--accent);
}

header > nav > ul > li:last-child::after {
  content: unset;
  margin-left: unset;
}

main {
  background-color: var(--mid);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

a:hover {
  color: var(--accent);
  text-decoration: none;
}

#hero {
}

#about-me {
}

#projects {
}

#contact-me {
}

footer {
  background-color: aqua;
}

@media screen and (min-width: 320px) {
  #hero {
    background-color: blue;
  }
}
